* {
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}

.demo-container {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px 20px;
}

.hidden {
    display: none;
}

.grid {
    display: grid;
    gap: 15px;
}

.cols-1 {
    grid-template-columns: repeat(1, 1fr);
}
.cols-2 {
    grid-template-columns: repeat(2, 1fr);
}
.cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 1.5s;
}
.fade-enter-from, .fade-leave-to {
    opacity: 0;
}
.fade-enter-to, .fade-leave-from {
    opacity: 1;
}
